<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SpringMarketACFC</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">
     <nav th:replace="fragments/header_perfil"></nav>
   <div class="d-flex justify-content-center m-5 p-4 table-active border border-primary">
    	<table class=" w-100">	
        	<tr>
        		<thead>
				    <tr>
				    <th scope="row" class="p-1">Id</th>
      				<td>Nombre</td>
      				<td>Cantidad</td>
      				<td>Informacion</td>
      				<td>Devolver</td>
      				<!-- <td>Comprar</td>
				      <th>Id</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Cantidad</th>
				      <th scope="col">Informaci&oacute;n</th>
				    </tr> -->
			  	</thead>
        			<div class="d-flex justify-content-center">
			  		<th:block th:each="compra : ${compra}" class="border-top border-dark">
	        		<td th:text="${compra.idcompra}" class="p-1">Id</td>
	        		<td th:each="producto : ${compra.productos}">
	        			<p th:text="${producto.idProducto}">
	            	<!-- <td th:text="${compra.nombrePedido}" >Nombre</td>
	            	<td th:text="${compra.cantidadPedido}">Categor&iacute;a</td>
	            	<td><a th:href="@{/Producto/{id}(id=${compra.idPedido})} ">Saber m&aacute;s</a></td>
	            	<form th:action="@{/compra/devolver/{id}(id=${compra.idPedido})}" method="post">
	            	<td><button type="submit" class="btn btn-primary btn-sm">Devolver</button></td> -->
	            	</form>
					</tbody>	
        </table>
        </div>
</body>
</html>