<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SpringMarketACFC</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">
     <nav th:replace="fragments/header_perfil"></nav>
    <div class="d-flex m-5 justify-content-center">
	<div class="d-flex-column mt-3">
				<div>
					<h1>
						Datos de <span th:text="${usuario.nombreUsuario}"></span>
					</h1>
					<div>
						<b>Nombre:</b> <span th:text="${usuario.nombreUsuario}"></span>
					</div>
					<div>
						<b>Apellidos:</b> <span th:text="${usuario.apellidoUsuario}"></span>
					</div>
					<div>
						<b>Correo:</b> <span th:text="${usuario.emailUsuario}"></span>
					</div>
					<div>
						<b>Fecha de nacimiento:</b> <span th:text="${usuario.fechaUsuario}"></span>
					</div>
				</div>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<a type="button" th:href="@{/compra/miscompras}" class="btn btn-primary mr-3">Mis Compras</a>
				<a type="button" th:href="@{/usuario/logOut}" class="btn btn-danger justify-content-end">Cerrar Sesión</a>
			</div>
</body>
</html>