<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Registrarse como nuevo usuario</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<form th:action="@{/usuario/registro}" method="post">
		<div class="d-flex m-5 justify-content-center table-dark">
		<div class="d-flex-column m-5 w-50 float-left">
			<div class="form-group">
				<label for="nombreUsuario">Nombre</label>
				<input type="text" class="form-control" id="nombreUsuario" name="nombre">
			</div>
			<div class="form-group">
				<label for="apellidosUsuario">Apellidos</label>
				<input type="text" class="form-control" id="apellidosUsuario" name="apellidos">
			</div>
			<div class="form-group">
				<label for="contraseï¿½aUsuario">Contraseña</label>
				<input type="text" class="form-control" id="contraseñaUsuario" name="contraseña">
			</div>
			<div class="form-group">
				<label for="correoUsuario">Correo Electrónico</label>
				<input type="text" class="form-control" id="correoUsuario" name="correo"></input>
			</div>
			<div class="form-group">
				<label for="fechaUsuario">Fecha de nacimiento:</label>
				<input type="text" class="form-control" id="fechaUsuario" name="fecha"></input>
			</div>
			</div>
			
			<div class="d-flex-column m-5 w-50 float-left justify-content-center">
				<div class="form-group">
					<label for="tarjetaUsuario">Número de tarjeta</label>
					<input type="text" class="form-control" id="tarjetaUsuario" name="tarjeta">
				</div>
				<div class="form-group">
					<label for="titularUsuario">Titular</label>
					<input type="text" class="form-control" id="titular" name="titular">
				</div>
				<div class="form-group">
					<label for="codigoUsuario">Código de seguridad</label>
					<input type="text" class="form-control" id="codigoUsuario" name="codigo">
				</div>
				<div class="form-group">
					<label for="facturacionUsuario">Direccion de facturación</label>
					<input type="text" class="form-control" id="facturacionUsuario" name="facturacion"></input>
				</div>
			</div>
			</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary jusitfy-content-center">Añadir vehiculo</button>
		</div>
</form>
</body>

</html>