<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SpringMarketACFC</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">
     <nav th:replace="fragments/header_loader"></nav>
	<div>
        <h2 class="mt-4 ml-2">Coches encontrados:</h2>
        <th:block th:each="producto : ${sessionBusquedad}">
        <div class="productos position-relative w-25 p-2 float-left">
		<div class="card border-primary mb-3 border-1">
  			<div class="card-header"><span th:text="${producto.marcaProducto}">Nombre</span></div>
  			<div class="card-body">
    			<h4 class="card-title"><span th:text="${producto.nombreProducto}">Marca</span></h4>
    			<p class="card-text"><span th:text="${producto.descripcionProducto}">Descripci&oacute;n</span></p>
    			<a class="d-flex justify-content-end" th:href="@{/Producto/{id}(id=${producto.idProducto})} ">Saber m&aacute;s</a>
  			</div>
		</div>
		</div>
		</th:block>
    </div>
</body>
</html>