<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Carrito</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">
<nav th:replace="fragments/header_loader"></nav>
    <div class="d-flex justify-content-center m-5 p-4 table-active border border-primary">
    	<table class=" w-100">
        	<tr>
        		<thead>
				    <tr>
				    <th scope="row" class="p-1">Id</th>
      				<td>Nombre</td>
      				<td>Informacion</td>
      				<!-- <td>Comprar</td>
				      <th>Id</th>
				      <th scope="col">Nombre</th>
				      <th scope="col">Cantidad</th>
				      <th scope="col">Informaci&oacute;n</th>
				    </tr> -->
			  	</thead>
        <!-- 
        			<div class="d-flex justify-content-center">
			  		<tbody th:each="carrito : ${sessionCarrito}" class="border-top border-dark">
	        		<td th:text="${carrito.idProductoCarro}" class="p-1">Id</td>
	            	<td th:text="${carrito.nombreProductoCarro}" >Nombre</td>
	            	<td th:text="${carrito.cantidadProductoCarro}">Categor&iacute;a</td>
	            	<td><a th:href="@{/Producto/{id}(id=${carrito.idProductoCarro})} ">Saber m&aacute;s</a></td> 
					</tbody>
					 -->	
					<div class="d-flex justify-content-center">
			  		<tbody th:each="carrito : ${sessionCarrito}" class="border-top border-dark">
	        		<td th:text="${carrito.idProducto}" class="p-1">Id</td>
	            	<td th:text="${carrito.nombreProducto}" >Nombre</td>
	            	<td><a th:href="@{/Producto/{id}(id=${carrito.idProducto})} ">Saber m&aacute;s</a></td> 
					</tbody>
					</div>
        </table>
        </div>
        <div class="d-flex justify-content-center">
        <form th:action="@{/compra/producto/pedido}" method="post">
          	<td><button type="submit" class="btn btn-primary btn-sm">Comprar productos</button></td>
	    </form>
        </div>
        </body>
</html>