<!DOCTYPE html>
	<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Añadir un producto -SpringMarketACFC</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">
    <nav th:replace="fragments/header_loader" ></nav>
	<form th:action="@{/admin/crear}" method="post">
	<div class="d-flex-column m-5">
		<div class="form-group">
      		<label for="marcaProducto">Marca del vehiculo</label>
      		<input type="text" class="form-control" id="marcaProducto" placeholder="Mazda" name="marca">
    	</div>
	 	<div class="form-group">
      		<label for="nombreProducto">Nombre del vehiculo</label>
      		<input type="text" class="form-control" id="nombreProducto" placeholder="Rayo McQueen" name="nombre">
    	</div>
    	<div class="form-group">
      		<label for="categoriaProducto">Categoria del vehiculo</label>
      		<select class="form-control mr-1 w-25" name="categoria" id="categoriaProducto">
        				<option value="Deportivo">Deportivo</option>
        				<option value="Urbano">Urbano</option>
        				<option value="Todoterreno">Todoterreno</option>
        				<option value="Familiar">Familiar</option>
      				</select>
    	</div>
	 	<div class="form-group">
      	<label for="descripcionProducto">Descripción del veh&iacute;culo</label>
      	<textarea class="form-control" id="descripcionProducto" rows="3" name="descripcion"></textarea>
      	</div>
      	<div class="form-group">
  			<label class="control-label">Precio</label>
  			<div class="form-group">
    		<div class="input-group mb-3">
      		<div class="input-group-prepend">
      	</div>
      		<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="precio">
      		<div class="input-group-append">
        	<span class="input-group-text">.00</span>
        	<span class="input-group-text">$</span>
    	</div>
    	</div>
  		</div>
		</div>
		      	<div class="form-group">
  			<label class="control-label">Descuento</label>
  			<div class="form-group">
    		<div class="input-group mb-3">
      		<div class="input-group-prepend">
      	</div>
      		<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="descuento">
      		<div class="input-group-append">
        	<span class="input-group-text">%</span>
    	</div>
    	</div>
  		</div>
		</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary jusitfy-content-center">Añadir vehiculo</button>
		</div>
		</div>
		</form>
</body>
</html>