<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${producto.nombreProducto}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="d-flex m-5 justify-content-center">
		<div class="d-flex W-25">
			<div class="foto" th:if="${imagen != null}">
				<img class="foto-perfil w-100"
					th:src="@{/imagenes/{idImagen}(idImagen=${imagen.id})}">
				<div class="overlay"></div>


			</div>
			<div class="foto" th:if="${imagen == null}">
				<img class="foto-perfil" th:src="@{/images/coche.jpg}">
				<div class="overlay"></div>
			</div>
		</div>

		<div class="d-flex-column m-5 w-50">
			<div>
				<form th:action="@{/Producto/anadirProducto}" method="post">
					<h1>
						Datos de un <span th:text="${producto.nombreProducto}"></span>
					</h1>
					<div>
						<b>Marca:</b> <span th:text="${producto.marcaProducto}"></span>
					</div>
					<div>
						<b>Nombre del modelo:</b> <span
							th:text="${producto.nombreProducto}" name="nombreCarro"
							th:value="${producto.nombreProducto}"></span>
					</div>
					<div>
						<b>Categor&iacute;a:</b> <span
							th:text="${producto.categoriaProducto}"></span>
					</div>
					<div>
						<b>Descripci&oacute;n:</b> <span
							th:text="${producto.descripcionProducto}"></span>
					</div>
					<div>
						<b>Precio:</b> <span th:text="${producto.precioProducto}"></span>
					</div>
					<div>
						<b>Descuento:</b> <span th:text="${producto.descuentoProducto}"></span>
					</div>
					<br />

					<div>
						<button type="submit"
							class="btn btn-primary btn-sm float-left w-100" name="id"
							th:value="${producto.idProducto}">A&ntilde;adir al
							carrito</button>
					</div>
				</form>
				<div sec:authorize="hasAuthority('ROL_ADMIN')" class="button"
					th:if="${imagen != null}">
					<a class="btn btn-info btn-sm float-left mt-2 w-50" href="#"
						th:href="@{/imagenes/cargar/{idProducto}(idProducto=${producto.idProducto})}">
						Editar foto </a>
				</div>
				<div sec:authorize="hasAuthority('ROL_ADMIN')" class="button"
					th:if="${imagen == null}">
					<a class="btn btn-info btn-sm float-left mt-2 w-50" href="#"
						th:href="@{/imagenes/cargar/{idProducto}(idProducto=${producto.idProducto})}">
						Editar foto </a>
				</div>
				<nav sec:authorize="hasAuthority('ROL_ADMIN')">
					<a th:href="@{/admin/borrar/{id}(id=${producto.idProducto})}"
						type="button" class="btn btn-danger btn-sm float-right mt-2 w-50">Borrar
						Producto</a>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>