<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${producto.nombreProducto}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="table-primary">
	<nav class="navbar navbar-expand-lg navbar-dark table-dark">
	    <div class="titulo">
	    	<h3 class="float-left font-italic text-white">Legendary Motorsports</h3>
	    </div>
	    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="funcionalidades position-relative float-right w-100">
	    <div class="collapse navbar-collapse" id="navbarColor01">
	    		<ul class="navbar-nav ml-auto float-right">
	      			<li class="nav-item">
	      				<a th:href="@{/}" class="nav-link">Inicio
	          				<span class="sr-only">(current)</span>
	        			</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link active" th:href="@{/Producto/crear}">A&ntilde;adir veh&iacute;culo</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" th:href="@{/usuario/login}">Registrarse</a>
	      			</li>
	      		</ul>
	      		<form class="form-inline my-2 my-lg-0" th:action="@{/buscar}" method="post">
      			<input class="form-control mr-sm-2" type="text" placeholder="Search" name="nombre">
      			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    		</form>
	    	</div>
	    </div>
	</nav>
	<div class="d-flex m-5 justify-content-center">
		<div class="d-flex-column m-5">
			<div>
				<h1>
					Datos de un <span th:text="${producto.nombreProducto}"></span>
				</h1>
				<div>
					<b>Marca:</b> <span th:text="${producto.marcaProducto}"></span>
				</div>
				<div>
					<b>Nombre del modelo:</b> <span th:text="${producto.nombreProducto}"></span>
				</div>
				<div>
					<b>Categor&iacute;a:</b> <span th:text="${producto.categoriaProducto}"></span>
				</div>
				<div>
					<b>Descripci&oacute;n:</b> <span th:text="${producto.descripcionProducto}"></span>
				</div>
				<div>
					<b>Precio:</b> <span th:text="${producto.precioProducto}"></span>
				</div>
				<div>
					<b>Descuento:</b> <span th:text="${producto.descuentoProducto}"></span>
				</div>
				<a th:href="@{/Producto/borrar/{id}(id=${producto.idProducto})}" type="button" class="btn btn-primary btn-sm float-right">Borrar Producto</a>
			</div>
		</div>
	</div>
</body>
</html>