<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${producto.nombreProducto}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<style>
img {
	max-width: 250px;
}
</style>

</head>

<body class="table-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="d-flex m-5 justify-content-center">
		<div class="d-flex W-25 mt-5">
			<div class="foto" th:if="${imagen != null}">
				<img class="foto-perfil w-100"
					th:src="@{/imagenes/{idImagen}(idImagen=${imagen.id})}">
				<div class="overlay"></div>
			</div>

			<div class="foto" th:if="${imagen == null}">
				<img class="foto-perfil" th:src="@{/images/coche.jpg}">
				<div class="overlay"></div>
			</div>
		</div>

		<div class="d-flex-column m-5 w-75">
			<div>
				<form th:action="@{/Producto/anadirProducto}" method="post">
					<h1>
						Datos de un <span th:text="${producto.nombreProducto}"></span>
					</h1>
					<div>
						<b>Marca:</b> <span th:text="${producto.marcaProducto}"></span>
					</div>
					<div>
						<b>Nombre del modelo:</b> <span
							th:text="${producto.nombreProducto}" id="nombreProducto"
							th:value="${producto.nombreProducto}"></span>
					</div>
					<div>
						<b>Categor&iacute;a:</b> <span
							th:text="${producto.categoriaProducto}"></span>
					</div>
					<div>
						<b>Descripci&oacute;n:</b> <span
							th:text="${producto.descripcionProducto}"></span>
					</div>
					<div>
						<b>Precio:</b> <span th:text="${producto.precioProducto}"></span>
					</div>
					<div>
						<b>Descuento:</b> <span th:text="${producto.descuentoProducto}"></span>
					</div>
					<div id="idProducto" th:text="${producto.idProducto}"></div>

					<br />

					<div>
						<button type="submit"
							class="btn btn-primary btn-sm float-left w-100" name="id"
							th:value="${producto.idProducto}">A&ntilde;adir al
							carrito</button>
					</div>
				</form>
				<div sec:authorize="hasAuthority('ROL_ADMIN')" class="button"
					th:if="${imagen != null}">
					<a class="btn btn-info btn-sm float-left mt-2 w-50" href="#"
						th:href="@{/imagenes/cargar/{idProducto}(idProducto=${producto.idProducto})}">
						Editar foto </a>
				</div>
				<div sec:authorize="hasAuthority('ROL_ADMIN')" class="button"
					th:if="${imagen == null}">
					<a class="btn btn-info btn-sm float-left mt-2 w-50" href="#"
						th:href="@{/imagenes/cargar/{idProducto}(idProducto=${producto.idProducto})}">
						Editar foto </a>
				</div>
				<div sec:authorize="hasAuthority('ROL_ADMIN')">
					<a th:href="@{/admin/borrar/{id}(id=${producto.idProducto})}"
						type="button" class="btn btn-danger btn-sm float-right mt-2 w-50">Borrar
						Producto</a>
				</div>

			</div>

		</div>
	</div>
	<div class="d-flex justify-content-center w-100">
		<input type="text" class="form-control w-50" id="pregunta"
			placeholder="¿Tienes alguna pregunta sobre el vehiculo?"
			name="preguntaSubir">
		<button class="float-left " id="botonPregunta">Subir</button>
	</div>

<div id="preguntas">
		<th:block th:each="preguntas : ${preguntas}">
			<div class="card border-primary m-3">
			<div class="card-body">
				<h4 class="card-title" id="prueba2"><span  th:text="${preguntas.textoPregunta}">Pregunta</span></h4>
				<h6 class="card-subtitle mb-2 text-muted" th:text="${preguntas.usuarioPregunta}">Card subtitle</h6>
				<p class="card-text" value="fsfs" id="texto">Aquí tiene que ir la respuesta de la pregunta.</p>
				<a id="botonEliminar" th:value="${preguntas.idPregunta}" type="button" class="btn btn-danger btn-sm float-right borrar">Borrar
						Pregunta</a>
			</div>
		</div>
		</th:block>
	</div>	
</body>
</html>