<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Profesores</title>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<script th:src="@{/js/jquery-3.5.0.js}"></script>
</head>
<body>
	<nav th:replace="fragments/header_public"></nav>

	<h4 class="display-1">Lista de profesores</h4>

	<p>En esta página puedes encontrar los profesores que figuran en el
		centro:
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Perfil</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${Productos.empty}">
				<td colspan="2">No existen profesores en el sistema</td>
			</tr>
			<tr th:each="profesor : ${Productos}">
				<td><span th:text="${Productos.nombreProducto}"> Nombre </span></td>
				<td><span th:text="${Productos.marcaProducto}">
						Apellido </span></td>
				<!-- <td><a
					th:href="@{/profesor/perfil/{id}(id=${profesor.idProfesor})}"
					class="btn btn-primary"><i class="fas fa-user"></i></a></td>-->
			</tr>
		</tbody>
		<a th:href="@{/Productos/crear}" class="btn btn-primary"><i
			class="fas fa-user"></i> Añadir Profesor</a>
</body>
</html>