<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>SpringMarketACFC</title>
    <style type="text/css">
    
    	body{
    		padding: 15px;
    	}
    	
    	.titulo{
    		text-align:center;
    		color:white;
    		padding:15px;
    		border:solid black 1px;
    		border-radius:15px;
    		background:-moz-linear-gradient(bottom, #898989, #010101);
			background:-webkit-linear-gradient(bottom, #898989, #010101);
			background:-ms-linear-gradient(bottom, #898989, #010101);
			background:-o-linear-gradient(bottom, #898989, #010101);
    	}
    	
    	.fila{
    		
    	}
    </style>
</head>
<body>
    <div class="titulo">
    	PACO
    </div>
    <br>
    <div class="fila1 d-flex justify-content-center">
	    <div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">Supra</div>
  			<div class="card-body">
    			<h4 class="card-title">Toyota Supra</h4>
    			<p class="card-text">Car goes brum brum </p>
    			<a class="d-flex justify-content-end" th:href="@{/Producto/1}">Saber más</a>
  			</div>
		</div>
	  	<div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">RX7</div>
  			<div class="card-body">
    			<h4 class="card-title">Mazda RX7</h4>
    			<p class="card-text">Motor rotativo que da muchas vueltas</p>
    			<a class="d-flex justify-content-end" th:href="@{/Producto/2}">Saber más</a>
  			</div>
		</div>
	  	<div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">Model 3</div>
  			<div class="card-body">
    			<h4 class="card-title">Tesla Model 3</h4>
    			<p class="card-text">Cochecito electrico para poder ir al centro </p>
    			<a class="d-flex justify-content-end" th:href="@{/Producto/3}">Saber más</a>
  			</div>
		</div>
	  	<div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">C5 Aircross</div>
  			<div class="card-body">
    			<h4 class="card-title">Citroen C5 Aircross</h4>
    			<p class="card-text">Un suv con todas las cosas malas de los suvs</p>
    			<a class="d-flex justify-content-end" th:href="@{/Producto/4}">Saber más</a>
  			</div>
		</div>
	</div>
	<div class="fila2 d-flex justify-content-center">
	    <div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">Header</div>
  			<div class="card-body">
    			<h4 class="card-title">Primary card title</h4>
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  			</div>
		</div>
	  	<div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">Header</div>
  			<div class="card-body">
    			<h4 class="card-title">Primary card title</h4>
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  			</div>
		</div>
	  	<div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">Header</div>
  			<div class="card-body">
    			<h4 class="card-title">Primary card title</h4>
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  			</div>
		</div>
	  	<div class="card border-primary mb-3 mx-1 w-25" style="max-width: 20rem;">
  			<div class="card-header">Header</div>
  			<div class="card-body">
    			<h4 class="card-title">Primary card title</h4>
    			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  			</div>
		</div>
	</div>
</body>
</html>